<h1><%= @listing.formatted_address %></h1>
<%= form_for @listing do |f| %>
  <%= f.label :street_address_one %>
  <%= f.text_field :street_address_one %><br />
  <%= f.label :street_address_two %>
  <%= f.text_field :street_address_two %><br />
  <%= f.label :city %>
  <%= f.text_field :city %><br />
  <%= f.label :state %>
  <%= f.text_field :state %><br />
  <%= f.label :zip_code %>
  <%= f.number_field :zip_code %><br />
  <%= f.label :neighborhood %>
  <%= f.text_field :neighborhood %><br />
  <%= f.label :url %>
  <%= f.text_field :url %><br />
  <%= f.label :price %>
  <%= f.number_field :price %><br />
  <%= f.label :num_beds %>
  <%= f.number_field :num_beds %><br />
  <%= f.label :num_bath %>
  <%= f.number_field :num_bath, step: 0.5 %><br />
  <%= f.label :no_fee %>
  <%= f.check_box :no_fee %><br />
  <%= f.label :laundry_in_unit %>
  <%= f.check_box :laundry_in_unit %><br />
  <%= f.label :laundry_in_building %>
  <%= f.check_box :laundry_in_building %><br />
  <%= f.label :central_air %>
  <%= f.check_box :central_air %><br />
  <%= f.label :has_dishwasher %>
  <%= f.check_box :has_dishwasher %><br />
  <%= f.label :package_handling %>
  <%= f.check_box :package_handling %><br />
  <%= f.label :guarantors_accepted %>
  <%= f.check_box :guarantors_accepted %><br />
  <%= f.submit %>
<% end %>
<%=raw @listing.description %>
