<!DOCTYPE html>
<html>
  <head>
    <title>HomeFindr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" type="image/png" href="/favehome.png"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav-bar">
      <h1>HomeFindr</h1>
      <div id="nav-left">
        <% if current_user %>
          <% if current_page?(hunts_path) %>
            <div class="auth-button">
              <%= link_to "Home", root_path %>
            </div>
          <% else %>
            <div class="auth-button">
              <%= link_to "Manage Hunts", hunts_path %>
            </div>
          <% end %>
          <div class="auth-button">
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="auth-button">
            <%= link_to "Login", new_user_session_path %>
          </div>
        <% end %>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
